/**
 * @author Prénom Nom courriel
 * @todo ADAPTER ce fichier selon concept
 * ------------------
 * TABLE DES MATIÈRES
 * ------------------
 * Polices de caractères
 * Palette de couleurs
 * Points de rupture
 **/

/** Polices de caractères **/
/*
@font-face {
  font-family: "Nom Police";
          src: 	url('Nom-Police.woff2') format('woff2'),
         		url('Nom-Police.woff') format('woff'),
         		url('Nom-Police.ttf') format('truetype');
}
*/
$policeTitres: "Nom Police", sans-serif;
$policeCorps: Times, serif;

/** Palette de couleurs **/
$razzMaTazzPink : #ED1E79;
$paleRose : #FFE6F1;
$tundoraGray : #4A4A4A;

/** Points de rupture **/
/* Écran étroit : 0px à 700px */
$ecranEtroit : 700px;
/* Écran moyen : 701px à 1200px */
$ecranMoyen : 701px;
/* Écran large : 1201px et plus */
$ecranLarge : 1201px;