@charset "UTF-8";
/**
 * @author Krystina Hamel <hkrystina@hotmail.ca>
**/

/**
 * --------------------------------------------------------
 * TABLE DES MATIÈRES - STYLES - FICHIER MAÎTRE
 * --------------------------------------------------------
 *
 * Données du projet
 * LIB (Bibliothèques)
 *** Normalize
 *** Susy et plugin
 * MANDAT:
 * Règles générales
 * ...
 * ... à compléter!
 *
 */


/**** LIB ****/
/* Normalize */
@import "../../bower_components/normalize-css/normalize";

/* Système de grille fluide - Susy */
@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/susy/sass/plugins/svg-grid";


/**** GÉNÉRAL ****/
/* Utilitaires */
@import "utilitaires/variables";
@import "utilitaires/mixins";
@import "base/typo";

/* Réglages de Susy */
@include border-box-sizing;

@media(max-width:$ecranEtroit){
  $susy: (
          'columns': susy-repeat(4),
          'gutters': 0.25
  );
  .conteneur {
    max-width: 100%;
    overflow: hidden;
    //background: susy-svg-grid((
    //        'columns': susy-repeat(4),
    //        'gutters': 0.25
    //)) no-repeat scroll;
  }
}
@media(min-width:$ecranMoyen){
  $susy: (
          'columns': susy-repeat(12),
          'gutters': 0.25
  );
  .conteneur {
    max-width:1200px;
    margin: 0 auto;
    //background: susy-svg-grid((
    //        'columns': susy-repeat(12),
    //        'gutters': 0.25
    //)) no-repeat scroll;
  }
}

/** Général **/
@media (max-width: $ecranEtroit) {
  .conteneur{
    padding: 10px;
  }
}

fieldset{
  border: none;
  margin: 0;
  padding-bottom: 0;

  @media (max-width: $ecranEtroit) {
    padding: 0;
  }
}

ul{
  list-style: none;
}

.info{
  color: $tundoraGray;
  @include fontSize(14px);
}

a{
  color: $razzMaTazzPink;
}

input,
select{
  border: none;
  background-color: $paleRose;
}

.formMultiSteps{
  width: span(6 of 12);
  margin: auto;
  padding: 50px 0 100px 0;

  @media (max-width: $ecranEtroit) {
    width: 100%;
    padding: 10px 0 50px 0;
  }
}

svg{
  width: 1em;
  height: 1em;
}

.elemErreur{
  border: 1px solid red;
}

#icon-bon{
  margin-left: 15px;

  .crochet{
    stroke: var(--color1, #42DD42);
  }

  .coeur{
    fill: $razzMaTazzPink;
  }
}

#icon-erreur{
  fill: red;
}

.erreur{
  color: red;

  svg{
    margin-right: 15px;
  }
}

.icone_bon{
  svg{
    margin-left: 15px;
  }
}

input{
  display: block;
}

button{
  background-color: $razzMaTazzPink;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 30px;

  @media (max-width: $ecranEtroit) {
    text-align: center;
    width: 100%;
  }

  &[disabled=true]{
    background-color: $tundoraGray;
    color: lightgray;
    cursor: unset;
  }
}

/* Header */
header{
  background-color: $paleRose;

  .logo{
    width: span(3 of 4);
    padding-top: 10px;

    @media (min-width: $ecranMoyen) {
      width: span(2 of 12);
      padding: 10px 0 5px 0;
    }
  }
}

/* Étapes et barre de progression */
.formMultiSteps__step--is-visible {
  display: block;
}

.formMultiSteps__step--is-invisible {
  display: none;
}

.js .formMultiSteps__btn[type=submit] {
  display: none;
}
.formMultiSteps__btn[type=submit].OK {
  display: block;
}

.stepsBar{
  list-style: none;
  padding-left: 0;

  li{
    display: inline-block;
    width: 30%;
    border: 2px solid $razzMaTazzPink;
    border-radius: 10px;
    color: $razzMaTazzPink;
    text-align: center;
    padding: 10px;
    font-weight: bold;

    @media (max-width: $ecranEtroit) {
      padding: 10px 0;
      font-size: 15px;
      width: 32%;
    }

    &[aria-current="step"]{
      background-color: $paleRose;
    }

    &.stepCompleted{
      background-color: $razzMaTazzPink;
      color: white;
    }
  }
}

/* Étape 1: Qui? */
#icon-femme,
#icon-homme,
#icon-autre{
  fill: $razzMaTazzPink;
}

.titeBarre{
  stroke: var(--color1, #ED1E79);
}

#step1{
  ul{
    display: flex;
    justify-content: space-between;
    width: span(4 of 12);
    padding: 0;

    li{
      margin-right: 20px;
    }

    label{
      display: block;
      border-radius: 10px;
      border: 2px solid transparent;
    }

    input:focus+label{
      border: 2px solid $razzMaTazzPink;
    }

    input:checked+label{
      background-color: $paleRose;
    }

      svg{
        width: 80px;
        height: 80px;
        display: block;
        padding: 10px;
        margin: 0;
      }
  }
}

/* Étape 2: Mon profil */
#step2{
  fieldset{
    #jour{
      width: 60px;
    }

    #mois{
      width: 110px;
    }

    #annee{
      width: 80px;
    }

    .ctnForm{
      display: inline-block;
      position: relative;
    }

    .erreur{
      position: absolute;
      &__contenu{
        background-color: #FFE6F1;
        border: 1px solid red;
        display: block;
        width: 300px;
        padding: 10px;
      }

      &.dateNonValide{
        position: inherit;
      }
    }
  }
}

/* Étape 3: Mon compte */
#step3{
  #mdpContenu{
    position: relative;

    .mdpContenu__oeil{
      position: absolute;
      top: 25px;
      left: 160px;
    }
  }

  #consentement{
    display: inline-block;
  }
}

/* Page de confirmation */
.confirmation{
  div{
    text-align: center;
    padding: 200px 0;
  }

  p{
    font-size: 24px;
   span{
     display: block;
     font-family: "Nixie One", cursive;
     font-size: 36px;
     font-weight: bold;
   }
  }

  svg{
    width: 100px;
    height: 100px;
  }
}

footer{
  padding: 10px;

  small{
    display: block;
    text-align: center;
    color: $razzMaTazzPink;
    padding: 20px 0 40px 0;
    border-top: 2px solid $razzMaTazzPink;
    font-weight: bold;
  }
}

